fastapi
email-validator
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
requests
google-generativeai
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-adk
authlib
itsdangerous
slowapi
PyPDF2
vercel_blob
