fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
alembic
python-dotenv
requests
google-generativeai
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-adk
authlib
itsdangerous
slowapi
